# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# Backend
PinecoreLabApi/bin/
PinecoreLabApi/obj/
PinecoreLabApi/*.user
*.suo

# General
.DS_Store
Thumbs.db
*.log
.vs/
PinecoreLabApi/.vs/
bin/
obj/
node_modules/
